@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<br /><br /><br />
<div class="row">
    <div class="col-md-6 offset-3">
        <label>Введіть номер сертифіката</label>
        <input type="text" class="form-control form-control-lg" /><br />
        <button type="submit" class="btn btn-block btn-primary btn-lg"><i class="fas fa-search"></i> Шукати</button>
    </div>
</div>
@ViewBag.Path