@using Certify.Repositories.Models

@model IEnumerable<UserModel>

@{
}

<a href="/user/create" class="btn btn-primary btn-sm float-right">Додати користувача</a>
<h1>Користувачі</h1>

<table class="tabel table-hover table-bordered">
    @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Name.</td>
                    <td>
                    @if (user.Roles != null)
                    {
                        <span>@string.Join(",", user.Roles)</span>
                    }
                    </td>
                </tr>
            }
</table>
